{% extends 'base.html' %}
{% block content %}
<div class="row">

<div class="large-8 columns">
<div class="userprofile-sidebar">
<h3>Statistics</h3>
<hr>
<p><b>Wins:</b> 5</p>
<p><b>Loses:</b> 5</p>
<p><b>Percentage of wins:</b> 50%</p>
<p><b>Most used spell:</b> Fireball</p>
<p><b>Total Damage Dealt:</b> 3400</p>
<p><b>Total Damage Taken:</b> 1000</p>

</div>
</div>
<div class="large-4 columns">

<a href="#" class="class button userprofile-buttons disabled">Follow</a>
<a href="#" class="class button userprofile-buttons float-right disabled">Message</a>

<ul class="profile-character-listing">
    {% for character in characters %}
    {% with level_data=character.level_data %}
        <li>
            <span class="character-listing-xp-bar" id="character-{{ character.id }}" data-width="{{ level_data.xp_percentage }}"></span>
            <a href="/character/{{ character.id }}">
            <p class="profile-character-listing-level">Level {{ level_data.current_level }}</p>
            <img src="/static/img/character-type/{{ character.for_class}}.png">
            <h2>{{ character.name }}</h2>
            <small>{{ character.for_class }}</small>
            </a>
        </li>
    {% endwith %}
    {% endfor %}
</ul>
{% endblock %}
{% block js %}
<script>
{% for character in characters %}
$(function() {
    $('#character-{{ character.id}}').width($('#character-{{ character.id}}').data('width') + '%');
});
{% endfor %}
</script>
{% endblock %}