.panel {
border-style: solid;
border-width: 1px;
border-color: #EBEBEB;
margin-bottom: 1.25rem;
padding: 1.25rem;
background: rgba(0, 0, 0, 0);
}
.top-bar {
    margin-bottom:20px;
}
.character-listing li {
list-style: none;
font-size: 18pt;
padding: 1px 0;
margin: 10px 0;
}
.character-listing {
    margin: 0;
}

.shop-classes {
    height: 500px;
    width: 100%
    float: left;

}
.current_level {
    margin-top:10px;
}

.level {
  margin-top: -20px;
float: left;
}
.xp-bar {
    transition: width 550ms ease-out 650ms;
    height: 5px;
    width: 0;
    margin-top:-20px;
    margin-bottom:20px;
    background: #AA7689;
}

.switch-char {
    font-size: 13pt;
font-weight: lighter;
color: #000;
}

.price {
margin-top: -6px;
float: left;
font-size: 11pt;
margin-bottom: 12px;
background: rgb(143, 74, 86);
padding: 4px 20px;
margin-left: -20px;
color: #fff;
}


.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;

  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30px;
}

#effect-1 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor:pointer;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-1 .img.hover .overlay {
  opacity: 1;
}
#effect-1 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}
.img {
    padding: 20px;
text-align: center;
border: 1px solid #ccc;
}
