/* Create View */

.cc-heading {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    color:#000;
}

input.cc-type {
    display: none;
}

input.cc-type[type="radio"]:checked+label{
    background: rgb(208, 208, 208);
}

input.cc-type[type="radio"]+label {
    margin: 0;
    margin-right: 10px;
}

input#cc-name {
    color:#000;
    background: none;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    font-size: 21pt;
    font-family: 'Open Sans';
    font-weight: 300;
    float: left;
    padding: 30px 5px;
    margin-bottom: 25px;
}

input#cc-name:focus {
    background: none;
}

.cc-type {
    background: rgb(226, 226, 226);
    border: 1px solid #eee;
    font-size: 15pt;
    text-align: center;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    color: #000;
    width: 200px;
    margin-bottom: 4px !important;
    padding: 20px;
    font-family: 'open sans';
    font-weight: 300;
    font-size: 20pt;
    /* text-transform: uppercase; */
}

.cc-type img {
    margin: 20px 0;
}
.cc-type label:hover, label:active, input:hover+label, input:active+label {
    background: #E2E2E2;
}

.darkblack {
    background: rgb(66, 66, 66);
    color: #FFF;
}

/* Detail View */

.cd-xp-bar {
    transition: width 550ms ease-out 650ms;
    height: 5px;
    width: 0;
    background: #000;
}


.cd-sidebar {
    float:left;
    width:100%;
    background:#FFF;
    font-family: 'Open Sans';
}

.cd-sidebar h3 {
    font-weight:300;
    border-bottom: 1px solid #ddd;
    padding-bottom:10px;
}

.cd-sidebar ul li {
    color:#000;
    list-style: none;
}

.cd-main {
    float:left;
    width:100%;
    background :#FFF;
}

.cd-main h2 {
    text-align: center;
    line-height: 81px;
    font-weight: 100;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 43px;
}

.cd-character-items {
    list-style: none;
    float: left;
    height: 475px;
    border: 1px solid #eee;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 400px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.cd-character-items li {
    position: absolute;
    border: 1px dotted #ccc;
    padding: 5px;
}

.cd-inventory-bag {
    float:left;
    margin:0;
    width:100%;
    list-style: none;
}
.cd-inventory-bag li {
    width:50px;
    height:50px;
    border:1px solid #ddd;
    margin:10px 10px 0 0;
    float:left;
    padding: 8px;
}

.cd-inventory-bag h3 {
    font-weight:300;
    border-bottom: 1px solid #ddd;
    padding-bottom:10px;
}

.tabs-panel, .tabs-content {
    float: left;
    width:100%;
}

.tabs-panel {
    padding: 30px;
}

/* character homepage */ 

ul.character-listing li {
    list-style: none;
}

ul.character-listing li a {
    background: #FFF;
    float: left;
    width: 100%;
    color: #000;
    margin: 0;
    min-height: 266px;
    font-family: 'Open Sans';    
}

.character-listing li a h2 {
    font-weight: 300;
}

.character-listing li a small {
    margin-top: -15px;
    float: left;
}

.character-listing-create li {
    padding:  0px;
    text-align: center;
    font-size: 100pt;
    box-sizing: border-box;
    line-height: 261px;
    background: rgba(25, 150, 60, 0.17);
    color: #FFF;
}

.character-listing li img {
    width: 50%;
    float: left;
    margin-left: 10px;
}

.character-listing-xp-bar {
    background: #000;
    height: 5px;
    width: 40%;
    float: left;
    margin-top: -6px;
}

.character-listing-level {
    padding: 20px;
    float: left;
    width: 100%;
}
