/* Create View */

.cc-heading {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    color:#FFF;
}

input.cc-type {
    display: none;
}

input.cc-type[type="radio"]:checked+label{
    background: #E2E2E2;
}

input.cc-type[type="radio"]+label {
    margin: 0;
}

input#cc-name {
    color:#FFF;
    background: none;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 21pt;
    font-family: 'Open Sans';
    font-weight: 300;
    float: left;
    padding: 30px 5px;
    margin-bottom: 25px;
}

input#cc-name:focus {
    background: none;
}

.cc-type {
    background: #222;
    border: none;
    color: #FFF;
    font-size: 15pt;
    text-align: center;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    color: #FFF;
    width: 200px;
    margin-bottom: 4px !important;
    padding: 20px;
    font-family: 'open sans';
    font-weight: 300;
    font-size: 20pt;
    /* text-transform: uppercase; */
}
.cc-type label:hover, label:active, input:hover+label, input:active+label {
    background: #E2E2E2;
}

.darkblack {
    background: rgb(66, 66, 66);
    color: #FFF;
}

/* Detail View */

.cd-xp-bar {
    transition: width 550ms ease-out 650ms;
    height: 5px;
    width: 0;
    margin-top:-20px;
    margin-bottom:20px;
    background: #AA7689;
}


.cd-sidebar {
    float:left;
    width:100%;
    padding: 10px;
    background:#000;
    font-family: 'Open Sans';
}

.cd-sidebar ul li {
    color:#FFF;
}