{% load compress %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RPG Alpha</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/stylesheet.css" />
    {% compress css %}
    <link rel="stylesheet" href="/static/css/app.css" />
    {% endcompress %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="top-bar">
    <div class="top-bar-left">
    <ul class="menu">
    <li class="menu-text"><a href="/">RPG Alpha</a></li>
    </ul>
    </div>  
        {% if user.is_authenticated %}
          <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
          {% load my_characters %}
            <li>
              <a href="#">Your Characters</a>
              <ul class="menu vertical">
                {% my_characters %}
                <li><a href="/character/create/" class="character-create-button">+</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Account</a>
              <ul class="menu vertical">
                <li><a href="/user/{{ user.id }}">View Profile</a></li>
                <li><a href="/logout/">Logout</a></li>
              </ul>
            </li>           
          </ul>
        {% endif %}
    </div>
    </div>
    {% block content %}{% endblock %}
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/what-input.min.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/app.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
