{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <form action="" method="post">
            <ul class="map">
                {% csrf_token %}
                {% for enemy in enemys %}
                    <li>
                        <input type="radio" name="enemy" value="{{ enemy.id }}" id="{{ enemy.name }}{{ enemy.id }}">
                        <label for="{{ enemy.name }}{{ enemy.id }}" style="top: {{ enemy.top }}px; left: {{ enemy.left }}px" required>
                            {{ enemy.name }} ({{ enemy.level }})
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Start Match" class="button">
        </form>
    </div>
</div>
{% endblock content %}
