{% extends "base.html" %}
{% block content %}
<style type="text/css">
span {
border: 1px solid #333;
padding: 9px;
font-size: 9pt;
margin: 15px;
}
.testlabel {
background: #333;
/* height: 247px; */
padding: 10px;
font-size: 22pt;
text-align: center;
color: #ccc;
width: 100%;
margin: 0;
}

input[type="radio"]:checked+label{
    background: #222;

}
input[type="radio"] {
    display: none;

}
input[type="radio"]+label {
    margin: 0;
}
.xp-level {
    float: left;
margin-top: -16px;
font-size: 8pt;
color: #333;
}
.xp-level-right {
    float: right;
margin-top: -16px;
font-size: 8pt;
color: #333;
}

.match {
    float: left/;
    height: 400px;
    width:100%;
    padding: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #EBEBEB;
}
.historybox {
float: right;
width: 200px;
height: 358px;
margin-top: 0px;
overflow-y: scroll;
}
.spell_list {
    list-style: none;
    margin: 0;
}
.spell_list li {
    width: 24%;
    float:left;
    margin: 0 1% 1% 0;
}
.disabled {
   color: darkgrey;
   background-color: grey;
   cursor:auto
}
input.disabled[type="radio"]:checked+label {
   color: darkgrey;
   background-color: grey;
   cursor:auto
}
.tooltip {
margin-top:-103px;
margin-left: 0px;
}
</style>


{% if condition %}
{% if condition == "win" %}
    <center><h1>You Won!</h1></center>
{% endif %}
{% if condition == "loose" %}
   <center> <h1>You lost!</h1></center>
{% endif %}
{% else %}
<div class="row">
    <div class="large-12 columns">
        <div class="large-5 columns">
            <h1>
                {{ match.character }}
                <small>{{ match.character_health }}</small>
            </h1>
        </div>

        <div class="large-2 columns">
            <center>
                <h1><small>vs</small></h1>
            </center>
        </div>
        <div class="large-5 columns">
            <h1 class="right">
                {{ match.enemy }}
                <small>{{ match.enemy_health }}</small>
            </h1>
        </div>
        <div class="large-5 columns">
            <small class="xp-level">Level {% with level_data=match.character.level_data %}{{ level_data.current_level }} {% endwith %}</small>
        </div>
        <div class="large-5 columns">
            <small class="xp-level-right">Level {{ match.enemy.level }} </small>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="large-12 columns">
        <div class="match">
            This is where the game takes place!
            <div class="tooltip">edit me</div>
        <div class="panel historybox">
            <h3>History</h3>
            <hr>
            {% for attack in match.attack_set.all %}
            <li>Sent {{ attack.damage_dealt }}, Took {{ attack.damage_taken }}</li>
            {% endfor %}
        </div>


        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <form action="/match/{{ match.id }}/attack/" method="post">
            {% csrf_token %}
            <ul class="spell_list">
                {% for spell in spells %}
                    <li>
                        <a data-tooltip aria-haspopup="true" class="has-tip" title="Damage: {{ spell.damage }}
                        Cooldown {{ spell.turn_cooldown }}">
                        <input type="radio" name="spell" value="{{ spell.id }}" id="{{ spell.name }}"><label for="{{ spell.name }}" class="testlabel" required>{{ spell.name }}</label>
                        </a>
                    </li>
                {% endfor %}
                    <li>

                        <input type="radio" name="spell" value="{{ spell.id }}" id="{{ spell.name }}" class="disabled"><label for="{{ spell.name }}" class="testlabel disabled">Disabled Spell</label>
                    </li>
            </ul>
            <div class="large-12 columns left">
                <hr>
                <input type="submit" value="End Turn" class="button">
            </div>
        </form>
    </div>
    <div class="large-5 columns">

    </div>
{% endif %}
{% endblock content %}
{% block js %}
{% endblock %}
