body {
    background: #eee;
}

a {
  color:#0078a0;
  font-family: 'Open Sans';
}

.button {
      background-color: #19963C;
}

.top-bar {
    margin-bottom: 40px;
    background-color: #19963C;
    padding: 10px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
      background-color: #0078a0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans';
}

.menu > li > a {
	color:#FFF;
}

.top-bar ul {
    background: none;
}

.menu-text a {
	padding: 0 !important;
	font-weight: 400;
	font-size: 13pt;
}