body {
    background: #eee;
}

a {
  color:#0078a0;
}

.top-bar {
    margin-bottom:20px;
        background-color: #0078a0;
}

.top-bar-section li:not(.has-form) a:not(.button) {
      background-color: #0078a0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans';
}