{% extends "base.html" %}
{% block content %}

{% if condition %}
{% if condition == "win" %}
    <center><h1>You Won!</h1></center>
{% endif %}
{% if condition == "loose" %}
   <center> <h1>You lost!</h1></center>
{% endif %}
{% endif %}

<a href="#" onclick="EndTurn()" style="
    background: #19963C;
    color: #FFF;
    position: absolute;
    right: 0;
    top: 35%;
    padding: 20px 45px;
">End Turn</a>
<div id="cards">
<div class="card">
    <div class="face front">
        <img src="http://localhost:8000/media/spells/spell.png">
        <h4>Fireball</h4>
    </div>
    <div class="face back"></div>
</div>

<div class="card">
    <div class="face front">
        <img src="http://localhost:8000/media/spells/spell.png">
        <h4>Fireball</h4>
    </div>
    <div class="face back"></div>
</div>

<div class="card">
    <div class="face front">
        <img src="http://localhost:8000/media/spells/spell.png">
        <h4>Fireball</h4>
    </div>
    <div class="face back"></div>
</div>
</div>
<div class="bottompanel">
 <div class="large-2 columns">
    <img src="http://localhost:8000/character/1/image/" class="characterimg">
 </div>

  <div class="large-4 columns">
  
    <div class="xcontain">
        <a><img src="/static/img/castspell.png"></a>
        <a onclick="ChanceSpell()"><img src="/static/img/chance.png"></a>
        <a><img src="/static/img/cardpickup.png"></a>
    </div>



</div>
    <div class="large-3 columns">
        <div class="spellpreview">
        <img src="http://localhost:8000/media/spells/spell.png"><h4>Fireball</h4>
        </div>

        <ul class="spells">
        <li class="selected"><img src="http://localhost:8000/media/spells/spell.png"></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
    </div>
    <div class="large-1 columns">
        <ul id="manor">
            <li></li><li></li><li></li><li></li>
        </ul>
    </div>

    <div class="large-2 columns">
        <div class="health">
            <img src="/static/img/heart.png">
            <h2><small>Health</small> {{ match.character_health }}</h2>
        </div>
    </div>
</div>
</div>

<!--
<div class="md-heading">
    <div class="row">
        <div class="large-12 columns">
            <div class="large-5 columns">
                <h1>{{ match.character }} <small>{{ match.character_health }}</small></h1>
                <small>Level {% with level_data=match.character.level_data %}{{ level_data.current_level }} {% endwith %}</small>
            </div>

            <div class="large-2 columns">
                <center>
                    <h1><small>vs</small></h1>
                </center>
            </div>
            <div class="large-5 columns">
                <h1>{{ match.enemy }} <small>{{ match.enemy_health }}</small></h1>
                <small>Level {{ match.enemy.level }} </small>
            </div>
            <div class="large-5 columns">
                
            </div>
            <div class="large-5 columns">
                
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="large-12 columns">
        <div class="match">
            This is where the game takes place!
            <div class="tooltip">edit me</div>
        <div class="panel historybox">
            <h3>History</h3>
            <hr>
            {% for attack in match.attack_set.all %}
            <li>Sent {{ attack.damage_dealt }}, Took {{ attack.damage_taken }}</li>
            {% endfor %}
        </div>


        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <form action="/match/{{ match.id }}/attack/" method="post">
            {% csrf_token %}
            <ul class="spell_list">
                {% for spell in spells %}
                    <li>
                        <a data-tooltip aria-haspopup="true" class="has-tip" title="Damage: {{ spell.damage }}
                        Cooldown {{ spell.turn_cooldown }} {{ spell.cooldown }}">
                        <input type="radio" name="spell" value="{{ spell.id }}" id="{{ spell.name }}{{ spell.id }}">
                        <label for="{{ spell.name }}{{ spell.id }}" class="testlabel" required>{{ spell.name }}</label>
                        </a>
                    </li>
                {% endfor %}
                    <li>

                        <input type="radio" name="spell" value="{{ spell.id }}" id="{{ spell.name }}{{ spell.id }}" class="disabled"><label for="{{ spell.name }}{{ spell.id }}" class="testlabel disabled">Disabled Spell</label>
                    </li>
            </ul>
            <div class="large-12 columns left">
                <hr>
                <input type="submit" value="End Turn" class="button">
            </div>
        </form>
    </div>
    <div class="large-5 columns">

    </div>
-->
{% endblock content %}
{% block js %}
<script type="text/javascript">

var manor = 12;
UpdateManor(); 
function ChanceSpell() {
    var newmanor = manor - 4;
    if (newmanor >= 0){
        manor -= 4;
        PlaceCard();
    }
    else {
        alert("Sorry you don't have enough manor");
    }
    UpdateManor();
}

function UpdateManor() {
    var html = []
    for (var i = 0; i < manor; i++) { 
    html.push("<li></li>");
    }
    $('#manor').html(html) 
}

function PlaceCard() {

    var html = '<div class="card"><div class="face front"></div><div class="face back"></div></div>'
    $('#cards').append(html);
}

function EndTurn() {
    $('#cards div').addClass("front");
}

</script>
{% endblock %}
