{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated  %}
<div class="row">
            <ul class="character-listing">
                {% for character in characters %}
                <div class="large-4 columns">
                    <li>
                        <span class="character-listing-xp-bar"></span>
                        <a href="/character/{{ character.id }}">
                        <p class="character-listing-level">{% with level_data=character.level_data %}Level {{ level_data.current_level }}{% endwith %}</p>
                        <img src="/static/img/character-type/Fruity.png">
                        <h2>{{ character.name }}</h2>
                        <small>{{ character.type }}</small>
                        
                        </a>
                    </li>
                </div>
                {% endfor %}
                <div class="large-4 columns float-left">
                <a href="/character/create/" class="character-listing-create"><li>+</li></a>
                </div>
            </ul>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Welcome to the Alpha</h3>
            <p>Currently you need to be invited to register. <a href="/login">Login</a></p>
        </div>
    </div>
</div>
{% endif %}
{% endblock%}
