{% extends 'base.html' %}
{% block content %}
<div class="large-3 columns" style="
    /* height: 100%; */
    /* border-right: 1px solid #ddd; */
    /* margin: 0; */
    margin-top: -40px;
    /* background: #FFF; */
    padding: 0;
    margin-top: -100px;
    padding-top: 60px;
    height: 100%;
">
<ul class="x">
  <li><h4>James Garner</h4>You: Hello there!</li>
</ul>
</div>


<div class="large-9 columns" style="
    /* padding: 10px; */
    /* background: #19963C; */
    /* margin: 20px; */
    float: left;
    height: 100%;
**
    position: relative;**
    position: relative;
    position: relative;
    margin-top: -100px;
    padding-top: 100px;
">
  
  <p style="
    padding: 10px 18px;
    background: #19963C;
    float: left;
    border-radius: 20px;
    color: #FFF;
">Hello there!</p><div class="chat" style="
    position: absolute;
    bottom: 0;
    background: #FFF;
    width: 100%;
    left: 0;
    height: 100px;
    border-top: 1px solid #ddd;
">
  <input type="text" style="
    height: 100%;
    margin: 0;
    border: none;
    text-shadow: none;
    padding: 20px;
">
</div></div>
<!--
<div class="row">
<div class="large-4 columns">
<ul>
<li>All</li>
<li>Unread</li>
<li>Archived</li>
<li>Sent</li>
</ul>
</div>
<div class="large-8 columns">
<h3>Your Messages</h3>

<div class="large-4 columns">Sender</div>
<div class="large-6 columns">Last Message</div>
<div class="large-2 columns">Updated</div>
<ul class="ml-messages">
{% for message in message_list %}
<li class="large-4 columns">{{ message.from_user }}</li>
<li class="large-6 columns">{{ message.content }}</li>
<li class="large-2 columns">{{ message.date }}</li>
{% endfor %}
</ul>
</div>
</div>
-->
{% endblock %}