{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h2 class="cc-heading">Create a character</h2>
    </div>
    <div class="large-12 columns left">
        <form action="" method="post">
            {% csrf_token %}
            <input id="cc-name" maxlength="150" name="name" placeholder="Name..." type="text" required>
            {{ form.errors.name }}
            {% for type in types %}
                <input type="radio" name="type" class="cc-type" value="{{ type.id }}" id="{{ type.name }}">
                <label for="{{ type.name }}" class="cc-type"><img src="/static/img/fruity.png">{{ type.name }}</label>
            {% endfor %}
            {{ form.errors.type }}
            <hr>
            <input type="submit" value="Create" class="button darkblack">
        </form>
    </div>
</div>



{% endblock %}
