{% extends "base.html" %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<style type="text/css">
input#id_name:focus {
    background: none;
    border-color: #B9B9B9;
}
input.classes {
display: none;
}

h2 {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
}

input.classes[type="radio"]:checked+label{
        background: #E2E2E2;

}
input.classes[type="radio"]+label {
    margin: 0;
}

input#id_name {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    font-size: 21pt;
    font-family: 'Open Sans';
    font-weight: 300;
    float: left;
    padding: 30px 5px;
}
.classlabel {
    /* height: 247px; */
    border: 1px solid #ddd;
    font-size: 15pt;
    text-align: center;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    color: #ccc;
    width: 200px;
    margin-bottom: 4px !important;
    padding: 20px;
    font-family: 'open sans';
    font-weight: 300;
    font-size: 20pt;
    color: #333;
    /* text-transform: uppercase; */
}
.classlabel label:hover, label:active, input:hover+label, input:active+label {
        background: #E2E2E2;
}

.darkblack {
    background: #333;
}
</style>
<div class="row">
    <div class="large-12 columns">
        <h2>Create a character</h2>
    </div>
    <div class="large-12 columns left">
        <form action="" method="post">
            {% csrf_token %}
            
            <input id="id_name" maxlength="150" name="name" placeholder="Name..." type="text" required>
            {{ form.errors.name }}
            {% for type in types %}
                <input type="radio" name="type" class="classes" value="{{ type.id }}" id="{{ type.name }}">
                <label for="{{ type.name }}" class="classlabel"><img src="/static/img/warlord.png">{{ type.name }}</label>
            {% endfor %}
            {{ form.errors.type }}
            <hr>
            <input type="submit" value="Create" class="button darkblack">
        </form>
    </div>
</div>



{% endblock %}
