{% extends "base.html" %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
{% with level_data=character.level_data %}
<div class="cd-xp-bar" data-width="{{ level_data.xp_percentage }}"></div>
<div class="row">
<div class="large-4 columns">
        <div class="cd-sidebar">
            <h3>Match History</h3>
            <ul class="history-listing">
            {% for match in character.match_set.all  %}

                <li>{{ match.character }} vs {{ match.enemy }}</li>

            {% endfor %}
            <!-- <li>{{ level_data.xp_percentage}}% Until Next Level</li> -->
            </ul>
        </div>
    </div>

    <div class="large-8 columns">
    <center><p>{{ level_data.current_level }} {{ character.type }}</p></center>
        <h2>{{ character.name }}</h2>
        </h1>
        <hr>
    </div>
    <div class="large-8 columns">
        <div class="cd-main">

                <img src="/static/assets/character.png" class="left">

            <h3 class="left inventory">Inventory</h3>

            <ul class="left inv-item">
                {% for bag in character.characteritem_set.all  %}
                <li><img src="/media/{{ bag.item.image }}"></li>
                {% endfor %}
<ul class="left inv-item" style="
    min-height: 350px;
    float: left;
    width: 100%;
">
                
                <li style="
    left: 50%;
"></li>
                <li style="
    left: 40%;
    top: 63px;
    width: 40px;
    height: 40px;
"></li>
                <li style="
    left: 37%;
    top: 123px;
    width: 55px;
    height: 101px;
"></li>
                <li style="
    left: 37%;
    top: 237px;
    width: 55px;
    height: 80px;
"></li>
                <li style="
    left: 48%;
    top: 72px;
    width: 79px;
    height: 115px;
"></li>
                <li style="
    left: 48%;
    top: 195px;
    width: 79px;
    height: 30px;
"></li>
                <li style="
    left: 49%;
    top: 238px;
    width: 66px;
    height: 100px;
"></li>
                <li style="
    left: 49%;
    top: 350px;
    width: 66px;
    height: 100px;
"></li>
                <li style="
    left: 62%;
    top: 63px;
    width: 40px;
    height: 40px;
"></li>
                <li style="
    left: 62%;
    top: 123px;
    width: 55px;
    height: 101px;
"></li>
                <li style="
    left: 62%;
    top: 237px;
    width: 55px;
    height: 80px;
"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            </ul>
        </div>
        <a href="/character/{{ character.id }}/create" class="button small">Start Match</a>
        <a href="/character/{{ character.id }}/shop/" class="button small">View Shop</a>
        <a href="/character/{{ character.id }}/spells/" class="button small">See Available Spells</a>
</div>

    <script src="/static/js/countdown.min.js"></script>
{% endwith %}
{% endblock %}

{% block js %}
<script>
$(function() {
    $('.cd-xp-bar').width($('.cd-xp-bar').data('width') + '%');
});
</script>
{% endblock %}
{% block url %}
    {{ character.get_absolute_url }}
{% endblock %}
{% block navigation %}
    <li><a href="{{ character.get_absolute_url }}">{{ character.name }}</a></li>
    <li><a href="/">Logout</a></li>
{% endblock %}
