{% if character.for_class.name == 'Wizard' %}
	<li style="left: 38%;top: 5%;width: 108px;min-height: 108px;" id="{{ head.id }}"><img src="{{ item_head }}" id="{{ head_id }}"></li>
	<li style="left: 10%;top: 20%;width: 40px;min-height: 143px;" id="{{ left_hand.id }}"><img src="{{ item_left_hand }}" id="{{ left_hand_id }}"></li>
	<li style="left: 69%;top: 35%;width: 107px;min-height: 162px;" id="{{ right_hand.id }}"><img src="{{ item_right_hand }}" id="{{ right_hand_id }}"></li>
	<li style="left: 30%;top: 66%;width: 158px;min-height: 72px;"><img src="{{ item_feet }}"></li>
{% endif %}
