{% extends "base.html" %}
{% block content %}
<style type="text/css">
input.classes {
display: none;
}

input.classes[type="radio"]:checked+label{
    background: #222;

}
input.classes[type="radio"]+label {
    margin: 0;
}
.classlabel {
background: #333;
height: 247px;
padding-top: 92px;
font-size: 26pt;
text-align: center;
transition: background .25s ease-in-out;
-moz-transition: background .25s ease-in-out;
-webkit-transition: background .25s ease-in-out;
color: #ccc;
width:33%;
margin-bottom: 4px !important;
}
.classlabel label:hover, label:active, input:hover+label, input:active+label {
    background: #222;
}
</style>
    <div class="row">
        <div class="large-12 columns">
            <h1>Create a character</h1>
            <hr>
        </div>
        <div class="large-12 columns left">
            <form action="" method="post">
                {% csrf_token %}
                <div class="large-4 columns">
                                    <h3>Characters name: {% if form.name.errors %}<small class="error">Character with this name already exists</small>{% endif %}</h3>
                </div>
                <div class="large-8 columns">{{ form.name }}</div>
                <hr>
                <h3>Choose your class:</h3><hr>
                {% for type in types %}
                <input type="radio" name="type" class="classes" value="{{ type.id }}" id="{{ type.name }}">
                <label for="{{ type.name }}" class="classlabel">{{ type.name }}</label>
                {% endfor %}

                <hr>

                <input type="submit" value="Create Character" class="button large">
            </form>
        </div>
    </div>



{% endblock %}
