{% extends "base.html" %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
{% with level_data=character.level_data %}
<div class="cd-xp-bar" data-width="{{ level_data.xp_percentage }}"></div>
<div class="row">
<div class="large-4 columns">
        <div class="cd-sidebar">
            <h3>Match History</h3>
            <ul class="history-listing">
            {% for match in character.match_set.all  %}

                <li>{{ match.character }} vs {{ match.enemy }}</li>

            {% endfor %}
            <!-- <li>{{ level_data.xp_percentage}}% Until Next Level</li> -->
            </ul>
        </div>
    </div>
    <div class="large-8 columns">
        <div class="cd-main">
            <h2>{{ character.name }} <small>Level {{ level_data.current_level }} {{ character.type }}</small></h2>
            <div class="large-6 columns">
            <ul class="cd-character-items">
                <li style="left: 38%; top: 9px; width: 62px; height: 62px;"></li>
                <li style="left: 15%; top: 63px; width: 40px; height: 40px;"></li>
                <li style="left: 9%; top: 123px; width: 55px; height: 101px;"></li>
                <li style="left: 9%; top: 237px; width: 55px; height: 80px;"></li>
                <li style="left: 35%; top: 82px; width: 79px; height: 115px;"></li>
                <li style="left: 35%; top: 205px; width: 79px; height: 30px;"></li>
                <li style="left: 37%; top: 248px; width: 66px; height: 100px;"></li>
                <li style="left: 37%; top: 360px; width: 66px; height: 100px;"></li>
                <li style="left: 67%; top: 63px; width: 40px; height: 40px;"></li>
                <li style="left: 70%; top: 123px; width: 55px; height: 101px;"></li>
                <li style="left: 70%; top: 237px; width: 55px; height: 80px;"></li>
            </ul>
            </div>
            <div class="large-6 columns">
            <ul class="cd-inventory-bag">
                <h3>Inventory</h3>
                {% if  character.characteritem_set.all %}
                {% for bag in character.characteritem_set.all  %}
            
                {% endfor %}
                {% else %}
                <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                {% endif %}
            </ul>
            </div>
        </div>
        <a href="{{ character.get_absolute_url }}/create" class="button small">Start Match</a>
        <a href="{{ character.get_absolute_url }}/shop/" class="button small right">Shop</a>
        <a href="{{ character.get_absolute_url }}/spells/" class="button small right">Spell Book</a>
</div>

    <script src="/static/js/countdown.min.js"></script>
{% endwith %}
{% endblock %}

{% block js %}
<script>
$(function() {
    $('.cd-xp-bar').width($('.cd-xp-bar').data('width') + '%');
});
</script>
{% endblock %}
{% block url %}
    {{ character.get_absolute_url }}
{% endblock %}
{% block navigation %}
    <li><a href="{{ character.get_absolute_url }}">{{ character.name }}</a></li>
    <li><a href="/">Logout</a></li>
{% endblock %}
