{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="large-4 columns">
        <form action="">
        <input type="text" name="q" placeholder="Search for a item...">
        </form>
        <ul class="shop-classes">
            <li><a href="/">Example Class</a></li>
        </ul>
    </div>
    <div class="large-8 columns" data-equalizer>
        <h1>Shop </h1>
        {% for item in item_list %}
        <div class="large-4 columns" data-equalizer-watch>
            <div class="panel">
                <small>Price: $4</small>
                <center>
                    <img src="/img" alt="itme-name">
                    <h3>Item Name</h3>
                </center>
            </div>
        </div>
       {% endfor %}
    </div>
</div>
{% endblock %}
